<div class="user-profile">

<h1> <%= link_to @post.user.name, user_path(@post.user) %>  </h1>

<%= image_tag @post.image.url(:medium), :class => 'user_post_image' %><br><br>
<%= @post.title %>

<% @post.hashtags.each do |hashtag|%>
  <%= hashtag.name %>
  <% end %>

</div>
