<h1> <%= link_to @post.user.name, user_path(@post.user) %>  </h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= @post.title %>
<%= image_tag @post.image.url(:medium) %>
<% @post.hashtags.each do |hashtag|%>
  <%= hashtag.name %>
  <% end %>
