<h1><%= @user.name %> </h1>

<%= link_to 'Edit Profile', edit_user_path(@user) %><br>
<%= button_to 'Logout', logout_path, method: :delete %>
<%= link_to 'Create a Post', {controller: 'posts', action: 'new'} %>
